<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Nueva Sede JJOO</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h2>Nueva Sede JJOO AFAF</h2>
			<form class="formSede" method="POST">
				<h6>(*) campo obligatorio</h6>
				<br/>
				<div class="form-group row">
					<label for="ciudad.nombreCiudad" class="col-sm-1-12 col-form-label">Nombre Ciudad: *</label>
					<div class="col-sm-1-12">
						<input type="text" class="form-control" name="ciudad.nombreCiudad" id="ciudad.nombreCiudad" maxlength="64" required="required" placeholder="nombre ciudad">
					</div>
				</div>
				<div class="form-group row">
					<label for="ciudad.valor_ciudad" class="col-sm-1-12 col-form-label">Valor Ciudad:</label>
					<div class="col-sm-1-12">
						<input type="number" class="form-control" name="ciudad.valor_ciudad" id="ciudad.valor_ciudad" min="1" max="99999" placeholder="valor ciudad">
					</div>
				</div>
				<div class="form-group row">
					<label for="ciudad.pais.nombrePais" class="col-sm-1-12 col-form-label">Nombre País: *</label>
					<div class="col-sm-1-12">
						<input type="text" class="form-control" name="ciudad.pais.nombrePais" id="ciudad.pais.nombrePais" maxlength="64" required="required" placeholder="nombre pais">
					</div>
				</div>
				<div class="form-group row">
					<label for="ciudad.pais.codigo_pais" class="col-sm-1-12 col-form-label">Código País: *</label>
					<div class="col-sm-1-12">
						<input type="text" class="form-control" name="ciudad.pais.codigo_pais" id="ciudad.pais.codigo_pais" maxlength="2" required="required" placeholder="codigo pais">
					</div>
				</div>
				<div class="form-group row">
					<label for="ciudad.pais.valor_pais" class="col-sm-1-12 col-form-label">Valor País: *</label>
					<div class="col-sm-1-12">
						<input type="number" class="form-control" name="ciudad.pais.valor_pais" id="ciudad.pais.valor_pais" required="required" min="1" max="99999" placeholder="valor pais">
					</div>
				</div>
				<div class="form-group row">
					<label for="tipojjoo" class="col-sm-1-12 col-form-label">Tipo: * &nbsp;&nbsp;</label>
					<div class="col-sm-1-12">
						<select class="form-control" name="tipojjoo" id="tipojjoo" required="required">
							<option value="" class="text-muted">Selecciona tipo de JJOO</option>
						    <option th:each="tipo : ${tipos}" th:value="${tipo.id_tipo_jjoo}" th:text="${tipo.descripcion_tipo}">
						    </option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="sedeJjooPK.anio" class="col-sm-1-12 col-form-label">Año: *</label>
					<div class="col-sm-1-12">
						<input type="number" class="form-control" name="sedeJjooPK.anio" id="sedeJjooPK.anio" maxlength="4" min="1900" max="3000" required="required" placeholder="año">
					</div>
                </div>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<button id="guardar" type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<button id="volver" type="button" class="btn btn-alert">&nbsp;&nbsp;Volver&nbsp;</button>
					</div>
				</div>
			</form>
		</div>
        
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script th:src="@{/js/funcionesjs.js}"></script>
	</body>
</html>